/*---------------Navbar------------*/

.bg-light {
    background-color: rgb(223, 169, 118)!important;
}

/*-----------background-----------*/

.callout-container {


    background: url(https://i.pinimg.com/564x/00/46/f4/0046f4e840f1d14a8c83b51ba5bd962b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-top: 100px;
    background-attachment:fixed;
    min-height: 620px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
    padding: 0;
    margin: 0px;

}

.jumbotron h1 {
    color: Black;
    font-weight: bold;
    margin-bottom: 30px;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.dan-front {
    text-shadow: -1px 0 20px white, 0 1px white, 1px 0 white, 0 -1px;
}

.dan-front-text {
    font-size: 30px;
    font-weight: 900;
    text-shadow: -1px 0 20px white, 0 1px white, 1px 0 white, 0 -1px;
}
